@media only screen and (max-device-width: 480px) {
  body {
    margin: 0px;
    padding: 0px;
    width: 100%;
  }
  .expander {
    padding: 0;
  }

  .headerArea {
    width: 100vw;

    margin: 2rem;
    padding: 3rem;
  }

  .cards {
    display: grid;
    grid-template-columns: 1fr;
  }

  #navbar {
    display: none;
  }
}

@media only screen and (min-device-width: 768px) {

    .cards {
        display: grid;
        grid-template-columns: 1fr;
      }
}
